.container-main{ /*main flex container, which holds all content*/
    border-color: black;
    border-style: dotted;
    border-width: 2px;
    background-color: red;
    width: 21em;
    height: auto;
    display: flex; 
    flex-direction: column;
}
.header > p {
    line-height: 0%;
}
.header{
    background-color: royalblue;

}
.serving > h1{
    font-size: small;
}
.container2 {  /*contains 3 columns with 3 rows*/
    width: auto;
    height: 4em;
    background-color: white;
    display: flex;
  flex-flow:  column wrap;
  align-content: space-between;
}
.container3{    /*contains 3 columns with 2 rows*/
    background-color: grey;
    width: auto;
    height: 3em;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}
.container4{ /*containing 3 columns with 4 rows*/
    background-color: white;
    width: auto;
    height: 5em;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}
.container5{ /*contains 1 colum with 1 row*/
    background-color: gold;
    width: auto;
    height: 1em;
    display: flex;
    flex-flow: column wrap;
    margin-left: 31%;       /*position offset to move the whole row further to the right. It needs to be aligned with container6*/
    font-size: small;
}
.container6{
    background-color: white;
    width: auto;
    height: 7em;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}

.box2{  /*box2 represents the text on the top right corner*/
background-color: yellow;
display: flex;
flex-direction: row;
justify-content: right; /*push content to the right wall*/
}
.box3{
    background-color: turquoise;
    margin-left: 0.5em; /*creates a small distance on the left (step effect to the right)*/  
}
.box4{ /*redundant code*/
    background-color: hotpink;
    /*display: flex;
    flex-direction: row; /*all this code is redundant*/
    /*justify-content: left;*/
}
